.navWrap {
  z-index: 10;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(148, 148, 148);
  font-family: 'Poppins', sans-serif;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  width: 80vw;
}

.navLinks li{
  list-style: none;
}

.navLinks a {
  color: rgb(235, 235, 235);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
}

.burger {
  list-style: none;
  display: none;
}

.burger div {
  cursor: pointer;
  width: 25px;
  height: 4px;
  background-color: rgb(235, 235, 235);
  margin: 4px;
  transition: all 0.3s ease;
}

@media screen and (min-width: 769px) {
  .navLinks li[style] {
    animation: navLinkFadeIn !important;
  }
}

@media screen and (max-width: 768px) {
  .navLinks {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(148, 148, 148);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .burger {
    position: absolute;
    right: 10%;
    display: block;
  }
}

.navActive {
  transform: translateX(0%);
}

@keyframes navLinkFadeIn {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes navLinkFadeOut {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(50px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.navLinks a {
  position: relative;
}

.navLinks a::before {
  content: '';
  display: block;
  height: 5px;
  background: black;
  position: absolute;
  bottom: -.75em;
  left: 0;
  right: 0;
  border-radius: 20%;
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}

.navLinks a:hover::before {
  transform: scale(1, 1);
}